<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
	<test thread-count="5" name="classes">
		<groups>
		</groups>
		<classes>
    
			<class name="com.redbus.tests.HomePageFunctionalityTest" />
			<class name="com.redbus.tests.RPoolFunctionalityTest" />
			<class name="com.redbus.tests.BusHireTest" />
			<class name="com.redbus.tests.BusTicketTest" />
			<class name="com.redbus.tests.LoginTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->